In [0]:
%sql
 -- Selecionar todos os dados da tabela de vendas
SELECT * FROM project_db.sales
LIMIT 2000;

In [0]:
%sql
-- Selecionar todos os dados da tabela de funcionários
SELECT * FROM project_db.employees;

In [0]:
%sql
-- Selecionar todos os dados da tabela de categorias
SELECT * FROM project_db.categories;

In [0]:
%sql
-- Total de Vendas por Categoria
SELECT 
    c.nome_categoria, 
    CAST(SUM(s.venda) AS DECIMAL) AS total_vendas
FROM project_db.sales AS s
JOIN project_db.categories AS c ON s.id_categoria = c.id
GROUP BY c.nome_categoria
ORDER BY total_vendas DESC;

In [0]:
%sql
-- Total de Vendas por Funcionário
SELECT 
    e.name, 
    CAST(SUM(s.venda) AS DECIMAL) AS total_vendas
FROM project_db.sales AS s
JOIN project_db.employees AS e ON s.id_funcionario = e.id
GROUP BY e.name
ORDER BY total_vendas DESC

In [0]:
%sql
-- Total de Vendas por aNO
SELECT 
    year(data_venda) AS ano,
    CAST(SUM(s.venda) AS DECIMAL) AS total_vendas
FROM project_db.sales AS s
JOIN project_db.employees AS e ON s.id_funcionario = e.id
GROUP BY ano
ORDER BY total_vendas DESC

In [0]:
%sql
-- Ranking de Vendas por Funcionário
SELECT
    f.id AS id_funcionario,
    f.name AS nome_funcionario,
    CAST(SUM(s.venda) AS DECIMAL) AS total_vendas,
    RANK() OVER (ORDER BY SUM(s.venda) DESC) AS rank_vendas
FROM project_db.sales s
JOIN project_db.employees f ON s.id_funcionario = f.id
GROUP BY f.id, f.name
ORDER BY rank_vendas;

In [0]:
%sql
SELECT 
    s.id_funcionario,
    f.name AS nome_funcionario,
    c.nome_categoria,
    CASE 
      WHEN s.venda < 10000 THEN 'Baixa'
      WHEN s.venda BETWEEN 10000 AND 50000 THEN 'Média'
      ELSE 'Alta'
    END AS faixa_venda,
    CAST(SUM(s.venda) AS DECIMAL) AS total_vendas_faixa
FROM project_db.sales s
JOIN project_db.employees f ON s.id_funcionario = f.id
JOIN project_db.categories c ON s.id_categoria = c.id
GROUP BY s.id_funcionario, f.name, c.nome_categoria, faixa_venda
ORDER BY s.id_funcionario, faixa_venda;